@import 'base/variables';
header {
    font-family: 'Alegreya';
}
nav, .intro, .courses, .advantages {
    font-family: 'Roboto';
}
a {
    &:hover {
        text-decoration: none;
    }
}
.container {
    width: 1040px;
    margin: 0 auto;
}
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/intro';
@import 'blocks/title';
@import 'blocks/subtitle';
@import 'blocks/courses';
@import 'blocks/buttons';
@import 'blocks/advantages';