@import 'base/variables';

nav, .intro, .courses, .advantages, .work, .feedback, .footer {
    font-family: 'Roboto', sans-serif;
}
header, .courses-item__level {
    font-family: 'Alegreya', serif;
}
a {
    &:hover {
        text-decoration: none;
    }
}
.container {
    max-width: 1040px;
    margin: 0 auto;
}
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/humburger';
@import 'blocks/intro';
@import 'blocks/title';
@import 'blocks/subtitle';
@import 'blocks/courses';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/work';
@import 'blocks/feedback';
@import 'blocks/footer';
@import 'blocks/pageup';