.button {
    display: block;
    width: 160px;
    height: 34px;
    border-style: none;
    border-radius: 2px;
    background-color: $red;
    margin: 0 auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: $white;
    &_details {
        margin-top: 20px;
        margin-left: 181px;
        @media (max-width: $firstBreakpoint) {
            margin: 0 auto;
            margin-top: 15px;
        }
    }
    &_collapse {
        margin-top: 20px;
        margin-left: 170px;
        @media(max-width: $firstBreakpoint) {
            margin: 0 auto;
        }
    }
    /* &:hover {
        background-color: #db5626;
    } */
    &_transparent {
        margin: 0 auto;
        margin-top: 40px;
        width: 364px;
        height: 40px;
        border-radius: 10px;
        border-style: solid;
        border-color: $red;
        background: $grey;
        // background-image: linear-gradient(to top, $red 0%, #4ce2ff 100%);
        // transform: skewY(5deg);
        font-size: 24px;
        line-height: 38px;
        color: $red;
        /* &:hover {
            border: none;
            background-color: #db5626;
            color: $white;
        } */
        @media (max-width: $firstBreakpoint) {
            width: 270px;
            font-size: 18px;
        }
    }    
}
