.courses {
    background-color: $grey;
    .container {
        padding: 50px 0 45px 0;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 85px;
    }
    &-item {
        position: relative;
        width: 500px;
        min-height: 280px;
        border-radius: 10px;
        background-color: #fff;
        margin-bottom: 40px;
        padding: 25px 30px 25px 181px;
        overflow: hidden;
        &_active {
            height: 280px;
        }
        &__wrapper {
            display: flex;
            width: calc(200% + 70px);
        }
        &__content {
            width: 50%;
            transform: translateX(-150%);
            transition: 0.5s all;            
            &_active {
                transform: translateX(0%);
            }
        }
        &__details {
            width: 50%;
            transform: translateX(10%);
            transition: 0.5s all;
            ul {
                padding: 0px 30px 0px 0px;
                list-style: none;
                li {
                    position: relative;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 8px;
                        left: -10px;
                        width: 5px;
                        height: 5px;
                        border-radius: 100%;
                        background-color: $red;
                    }
                }
            }
            a {
                display: block;
                transform: translateX(-85px);
                color: $light-green;
            }
            &_active {
                transform: translateX(-100%);
            }
        }
        &__schedule {
            transform: translateX(-85px);
            .courses-item__subtitle {
                text-align: center;
            }
        }
        &__price {
            transform: translateX(-85px);
            .courses-item__subtitle {
                text-align: center;
            }
        }
        &__title {
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 24px;
            line-height: 24px;
            text-align: left;
            color: $black;
        }
        &__level {
            position: absolute;
            top: 84px;
            left: 41px;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            background-color: $grey;
            font-weight: bold;
            font-size: 64px;
            line-height: 98px;
            text-align: center;
            color: $blue;
            &_wide {
                color: $light-green;
            }
        }
        &__subtitle {
            font-weight: 500;
            font-size: 19px;
            line-height: 18px;
            color: $blue;
            margin-bottom: 5px;
            &_wide {
                color: $light-green;
            }
        }
        &__descr {
            width: 289px;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: $black;
        }
    }
}