.header {
    background-color: $main-green;
    height: 100px;
    @media (max-width: $firstBreakpoint) {
        height: 66px;
    }    
    &__wrapper {
        padding-top: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @media(max-width: $firstBreakpoint) {
            justify-content: center;
        }
    }
    &__logo {
        display: block;
        max-width: 86px;
        max-height: 86px;
        img {
            max-width: 86px;
            max-height: 86px;
        }
        @media (max-width: $firstBreakpoint) {
            margin-right: 10px;
            max-width: 50px;
            max-height: 50px;
            img {
                max-width: 50px;
                max-height: 50px;
            }   
        }
    }
    &__contacts {
        min-width: 322px;
        display: flex;
        flex-direction: column;
        @media(max-width: $firstBreakpoint) {
            min-width: 155px;
        }
        &-name {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            text-align: start;
            color: $white;
        }
        a {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            margin-left: 10px;
            &:nth-child(2) {
                color: $red;
            }
            &:nth-child(3) {
                color: $light-green;
            }
            &:nth-child(5) {
                color: $blue;
            }
            @media (max-width: $firstBreakpoint) {
                display: none;
            }
        }
        hr {
            margin: 0;
            margin-left: 10px;
            border-bottom: none;
            background-color: $white;
            @media (max-width: $firstBreakpoint) {
                display: none;
            }
        }
    }
    &__languages {
        margin-left: 54%;
        a {
            margin-right: 10px;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            color: $white;
            &:last-child {
                margin-right: 0;
            }
        }
        @media (max-width: $firstBreakpoint) {
            display: none;
        }
        @media (max-width: $secondBreakpoint) {
            margin-left: 36%;
        }
    }
}