.header {
    background-color: $main-green;
    min-height: 100px;
    &__wrapper {
        padding-top: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__logo {
        display: block;
        min-width: 86px;
        min-height: 86px;
        img {
            min-width: 86px;
            min-height: 86px;
        }
    }
    &__contacts {
        min-width: 322px;
        display: flex;
        flex-direction: column;
        &-name {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            text-align: start;
            color: $white;
        }
        a {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            margin-left: 10px;
            &:nth-child(2) {
                color: $red;
            }
            &:nth-child(3) {
                color: $light-green;
            }
            &:nth-child(5) {
                color: $blue;
            }
        }
        hr {
            margin: 0;
            margin-left: 10px;
            border-bottom: none;
            background-color: $white;
        }
    }
    &__languages {
        margin-left: 54%;
        a {
            margin-right: 10px;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            color: $white;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    
}