.title {
    width: 450px;
    height: 60px;
    background-color: $dark-green;
    box-shadow: -10px -10px 0px rgba(28, 71, 70, 0.67);
    margin: 0 auto;
    font-weight: bold;
    font-size: 36px;
    line-height: 57px;
    text-align: center;
    color: $white;
    @media (max-width: $firstBreakpoint) {
        width: 200px;
        height: 45px;
        font-size: 20px;
        line-height: 48px;
    }
}